<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('评估明细列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input type="hidden" id="pgbatchid" name="pgbatchid" th:value="${pgbatchid}">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>评估批次Id：</label>
                                <input type="text" name="pgbatchid"/>
                            </li>
                            <li>
                                <label>表名：</label>
                                <input type="text" name="pgtable"/>
                            </li>
                            <li>
                                <label>评估项：</label>
                                <input type="text" name="pgname"/>
                            </li>
                            <li>
                                <label>实际得分：</label>
                                <input type="text" name="acscore"/>
                            </li>
                            <li>
                                <label>是否选中：</label>
                                <input type="text" name="issel"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pg:pgdetail:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pg:pgdetail:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pg:pgdetail:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pg:pgdetail:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pg:pgdetail:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pg:pgdetail:remove')}]];
        var prefix = ctx + "pg/pgdetail";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                queryParams: queryParams,
                modalName: "评估明细",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'detailid', 
                    title: '评估批次ID',
                    visible: false
                },
                {
                    field: 'pgbatchid', 
                    title: '评估批次Id'
                },
                {
                    field: 'pgtable', 
                    title: '表名'
                },
                {
                    field: 'pgname', 
                    title: '评估项'
                },
                {
                    field: 'acscore', 
                    title: '实际得分'
                },
                {
                    field: 'issel', 
                    title: '是否选中'
                },
                {
                    field: 'remark', 
                    title: 'null'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.detailid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.detailid + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function queryParams(params) {
            var search = $.table.queryParams(params);
            search.pgbatchid = $("#pgbatchid").val();

            return search;
        }
    </script>
</body>
</html>